<div class="panel panel-primary">
 
  <div class="panel-heading">{{headerTitle}}</div>
  <div class="panel-body">
    <p>List out all the users and add users.</p>
      
      <form class="form-inline" ng-submit="addUser()">    
               <div class="form-group">
                <input type="text" class="form-control" id="userId" ng-model="userId" ng-minlength="3" 
                ng-maxlength="8" required placeholder="Id">
                </div>
              <div class="form-group">
                <input type="text" class="form-control" id="name" ng-model="name" ng-minlength="3" 
                ng-maxlength="100" required placeholder="Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" ng-model="email" placeholder="Email">
              </div>
              <button type="submit" class="btn btn-primary">Add User</button>
              <button type="button" class="btn btn-primary" ng-click="getUsers()">Load Users</button>
      </form>

  </div>
 <table class="table table-striped">
      <th>#ID</th>
      <th>Name</th>
      <th>Email</th>
      <tr ng-repeat="user in users.user">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
      </tr>
  </table>
</div>


  




             